.plan-box {
    background-color:#fff;
    border-radius: 5px;
    width: 90%;
    margin-left: auto;
    -webkit-box-shadow: 0 2px 2px #efefef;
            box-shadow: 0 2px 2px #efefef;
}

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}

.plan-box div:first-child {
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.plan-box div:last-child {
    text-align: center;
    border: 0;
}

.plan-price {
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #e67e22;
}

.plan-price span {
    font-size: 30%;
    font-weight: 300;
}

.plan-price-meal {
    font-size: 80%;
}

.plan-box ul{
    list-style: none;
}

.plan-box ul li {
    padding: 5px 0;
}

/* Big Tablets to 1200px (widths smaller than the 1140px row) */
@media only screen and (max-width: 1200px) {

}


/* Small Tablet to Big Tablets: 768px to 1023px */
@media only screen and (max-width: 1023px) {
    .plan-box {
        width: 95%;
    }

    .plan-price { font-size: 250%; }
}


/* Small Phones to Small Tablets: 481px to 767px */
@media only screen and (max-width: 767px) {

}


/* Small Phone: 0 to 480px */
@media only screen and (max-width: 480px) {

}