/* Big Tablets to 1200px (widths smaller than the 1140px row) */
@media only screen and (max-width: 1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }

    .row { padding: 0 2%; }
}


/* Small Tablet to Big Tablets: 768px to 1023px */
@media only screen and (max-width: 767px) {
    body { font-size: 18px; }
    section { padding: 60px 0; }

    .long-copy {
        width: 80%;
        margin-left: 10%;
    }

    .steps-box { margin-top: 10px; }
    .steps-box:last-child { margin-top: 10px; }
    .works-step { margin-bottom: 40px; }
    .works-step:last-child { margin-bottom: 60px; }
}


/* Small Phones to Small Tablets: 481px to 767px */
@media only screen and (max-width: 767px) {

}


/* Small Phone: 0 to 480px */
@media only screen and (max-width: 480px) {

}