/*---- Main Navigation ----*/

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

/*---- Mobile Navigation ----*/
.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon ion-icon {
    font-size: 200%;
    color: #fff;
}

/*---- Sticky Navigation ----*/

.logo-black { 
    display: none; 
    height: 50px;
    width: auto;
    float: left;
    margin: 5px 0;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}

.sticky .main-nav { margin-top: 18px; }

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 16px 0px;
    color: #555;
}

.sticky .logo { display: none; }
.sticky .logo-black { display: block; }



/*---- Responsive ----*/

/* Big Tablets to 1200px (widths smaller than the 1140px row) */
@media only screen and (max-width: 1200px) {

}


/* Small Tablet to Big Tablets: 768px to 1023px */
@media only screen and (max-width: 1023px) {

}


/* Small Phones to Small Tablets: 481px to 767px */
@media only screen and (max-width: 767px) {
    .main-nav.hidden { 
        position: absolute;
        top: -9999px;
        left: -9999px;
        transform: translateY(-120%);
    }
    .main-nav.show { 
        visibility: visible; 
        opacity: 1; 
        transform: translateY(0%);
        transition: transform .5s linear;
    }

    .mobile-nav-icon { display: inline-block; }
    .main-nav { 
        float: left;
        margin-top: 25px;
        margin-left: 25px; 
    }

    .main-nav li { 
        display: block;
     }

    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 10px 0;
        font-size: 100%;
    }



    .sticky .main-nav { margin-top: 10px; }

    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited{ padding: 10px 0px; }

    .sticky .mobile-nav-icon { margin-top: 10px; }
    .sticky .mobile-nav-icon ion-icon { color: #555; }

}


/* Small Phone: 0 to 480px */
@media only screen and (max-width: 480px) {

}