.contact-form {
    width: 60%;
    margin: 0 auto;
}

input[type=text], 
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0px;
}

*:focus {
    outline:none;
}

.invalidMessage {
    color: #ff0000;
}

.form-submission-message {
    text-align: center;
    margin-top: 30px;
}

/* Big Tablets to 1200px (widths smaller than the 1140px row) */
@media only screen and (max-width: 1200px) {

}


/* Small Tablet to Big Tablets: 768px to 1023px */
@media only screen and (max-width: 1023px) {
    .contact-form { width: 80%; }
}


/* Small Phones to Small Tablets: 481px to 767px */
@media only screen and (max-width: 767px) {

}


/* Small Phone: 0 to 480px */
@media only screen and (max-width: 480px) {
    .contact-form { width: 100%; }
}