footer {
    background-color: #333;
    padding: 50px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active,
.social-links li a:hover,
.social-links li a:active {
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}

/* Big Tablets to 1200px (widths smaller than the 1140px row) */
@media only screen and (max-width: 1200px) {

}


/* Small Tablet to Big Tablets: 768px to 1023px */
@media only screen and (max-width: 1023px) {

}


/* Small Phones to Small Tablets: 481px to 767px */
@media only screen and (max-width: 767px) {
    .footer-nav {
        float: none;
        text-align: center;
    }
    .social-links {
        float: none;
        text-align: center;
    }
}


/* Small Phone: 0 to 480px */
@media only screen and (max-width: 480px) {
    .footer-nav li,
    .social-links li {
        margin-right: 8px;
    }
}