.section-testimonials {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../../assets/img/back-customers.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}